
.crystals{
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 20px;
}

.crystal{
	border: 1px solid green;
	height: 200px;
	width: 200px;
	border-radius: 4px;
	box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
transition-property: box-shadow 1s;
	
}

.crystal:hover{
	box-shadow: 15px 15px 15px rgba(0,0,0,0.5);
	transform: translate(5px,25px);
	cursor: pointer;
	transition: box-shadow 1s;
}

h1{
	text-align: center;
	font: bolder;
}

h2,
h3{
	font-style: italic;
}

.container{
	padding-left: 10%;
}
